<% provide(:title, @user.username) %> 

<section class = "user_info" >
<h1>
<%= @user.username %> 
</h1>
</section>

<% if @user.tweets.any? %> 
  <h3> Tweets (<%= @user.tweets.count %>)</h3>
  <ol class = "tweets">
  <%= render @tweets %> 
  </ol>
  <%= will_paginate @tweets %>
<% end %> 
